name: md2zhihu
on: [push]
jobs:
  md2zhihu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: drmingdrmer/md2zhihu@main
      env:
        GITHUB_USERNAME: ${{ github.repository_owner }}
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      with:
        pattern: 'articles/**/*.md'
        output_dir: '_md2zhihu'
        asset_repo: 'https://${{ secrets.GITEE_PUSH_REPO }}@gitee.com/henryzhao28/blog.git'
        asset_branch: '${{ github.ref_name }}-md2zhihu-asset'
        output_branch: '${{ github.ref_name }}-md2zhihu'